// Import statements
@import 'colors';
@import 'strapper';
@import 'forms';
@import 'status';
@import 'profile';
@import 'navbar';
@import 'chat';

// General app styling
body {
  background: $snow;
}

.alert-warning {
  border-color: $dark-yellow;
  background: $yellow;
}

.nav-spacer {
  background: $snow;
  height: 54px;
  position: relative;
  display: block;
  width: 100%;
}

.app-wrapper {
  min-height: 100vh;
  width: 100%;
  background: $snow;
}

textarea {
  min-height: 1.75rem;
}

.capitalize {
  text-transform: capitalize;
}

.white {
  background: white;
}

.alert-card {
  border-radius: 0.4rem;
}

.card {
  padding: 1rem !important;
  border-radius: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;

  &.pad-0 {
    padding: 0rem !important;
  }
}

.marg-bot-05 {
  margin-bottom: 0.5rem !important;
}

.marg-bot-025 {
  margin-bottom: 0.25rem !important;
}

.pad-top-0 {
  padding-top: 0 !important;
}

.btn {
  font-weight: bold;

  &.disabled {
    cursor: not-allowed !important;
  }
}

.btn-gray {
  color: white !important;
  background: $light-gray;
  border-radius: 1.2rem;
  border: 1px solid $light-gray;

  &:hover,
  &:active,
  &:focus {
    background: $gray;
    border: 1px solid $light-gray;
    cursor: hand;
    cursor: pointer;
  }

  &.btn-sm {
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
  }
}

.buttons {
  width: 100%;

  &.right {
    text-align: right;

    .btn {
      margin-left: 0.5rem;
    }
  }
}

// Remve underlines from links
a {
  text-decoration: none !important;

  &:focus,
  &:visited,
  &:active,
  &:hover {
    text-decoration: none !important;
  }
}

// Styling for the spinning loading component
.loading {
  width: 100%;
  display: block;
  padding: 1rem 0rem;
  text-align: center;

  .fa {
    color: $lighter-gray;
  }
}

// Styling user previews
.user {
  display: flex;

  .userImg {
    width: 3rem;
    height: 3rem;
    background: $light-gray;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  p {
    flex: 1;
    margin-top: 0.75rem;
    font-weight: bold;
    color: $dark-gray;
    margin-bottom: 0rem;
  }

  .is-online {
    display: block;
    position: absolute;
    right: 1.25rem;
    margin-top: 0.75rem;
    background: rgb(66, 183, 42);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
  }

  &.user-sm {
    .userImg {
      width: 2rem;
      height: 2rem;
    }

    p {
      margin-top: 0.25rem;
    }
  }
}

.marg-top-05 {
  margin-top: 0.5rem !important;
}

.pad-bot-025 {
  padding-bottom: 0.25rem !important;
}

.userPreview {
  padding: 0.75rem 0rem;
}

.userPreview {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

// Remove padding on large screens
@media screen and (min-width: 992px) and (min-device-width: 992px) {
  .no-pad-wide {
    padding: 0rem !important;
  }
}

#details {
  h4 {
    font-size: 1.4rem !important;
    text-transform: capitalize;
  }

  font-size: 1rem !important;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  right: 1rem;
  padding: 1rem;
  border-radius: 0.4rem;
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0rem 0.1rem 0.4rem rgba(0, 0, 0, 0.05);

  li {
    text-transform: capitalize;

    .relation {
      text-transform: lowercase;
    }
  }
}

.node {
  color: black !important;
  text-transform: capitalize;
}
