// Import statements
@import 'colors';
@import 'strapper';
@import 'forms';
@import 'status';
@import 'profile';

// General app styling
.app-wrapper {
  min-height: 100vh;
  width: 100%;
  background: $snow;
}

.white {
  background: white;
}

.card-shade {
  box-shadow: 0rem 0.1rem 0.3rem rgba(0, 0, 0, 0.05) !important;
}

.card {
  padding: 1rem !important;
  border-radius: 0.4rem;
  box-shadow: 0rem 0.1rem 0.3rem rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;

  &.pad-0 {
    padding: 0rem !important;
  }

  &.marg-bot-05 {
    margin-bottom: 0.5rem;
  }
}

.navbar {
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1);

  .navbar-brand {
    font-weight: bold;
  }

  .navbar-toggler {
    border: 0px solid transparent;
    outline: 0 !important;
  }

  .nav-link {
    font-weight: bold;
    cursor: hand;
    cursor: pointer;
  }
}

.btn {
  font-weight: bold;
}

.btn-gray {
  color: white;
  background: $light-gray;
  border-radius: 1.2rem;
  border: 1px solid $light-gray;
  margin-left: 0.5rem;

  &:hover,
  &:active,
  &:focus {
    background: $gray;
    border: 1px solid $light-gray;
    cursor: hand;
    cursor: pointer;
  }

  &.btn-sm {
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
  }
}

.buttons {
  width: 100%;

  &.right {
    text-align: right;

    .btn {
      margin-left: 0.5rem;
    }
  }
}

// Remve underlines
a {
  text-decoration: none !important;

  &:focus,
  &:visited,
  &:active,
  &:hover {
    text-decoration: none !important;
  }
}

// Styling user previews
.user {
  display: flex;

  .userImg {
    width: 3rem;
    height: 3rem;
    background: $light-gray;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  p {
    flex: 1;
    margin-top: 0.75rem;
    font-weight: bold;
    color: $dark-gray;
  }
}

.pad-bot-025 {
  padding-bottom: 0.25rem !important;
}

.recommendation {
  padding: 0.75rem 0rem;
}

.recommendation + .recommendation {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
