// Import statements
@import 'colors';
@import 'strapper';
@import 'forms';
@import 'status';
@import 'profile';

// General app styling
.app-wrapper {
  min-height: 100vh;
  width: 100%;
  background: $snow;
}

textarea {
  min-height: 1.75rem;
}

.white {
  background: white;
}

.card-shade {
  box-shadow: 0rem 0.1rem 0.3rem rgba(0, 0, 0, 0.05) !important;
}

.card {
  padding: 1rem !important;
  border-radius: 0.4rem;
  box-shadow: 0rem 0.1rem 0.3rem rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;

  &.pad-0 {
    padding: 0rem !important;
  }
}

.marg-bot-05 {
  margin-bottom: 0.5rem !important;
}

.pad-top-0 {
  padding-top: 0 !important;
}

.navbar {
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
  z-index: 1300;

  .navbar-brand {
    font-weight: bold;
  }

  .navbar-toggler {
    border: 0px solid transparent;
    outline: 0 !important;
  }

  .nav-link {
    font-weight: bold;
    cursor: hand;
    cursor: pointer;
  }
}

.btn {
  font-weight: bold;

  &.disabled {
    cursor: not-allowed !important;
  }
}

.btn-gray {
  color: white !important;
  background: $light-gray;
  border-radius: 1.2rem;
  border: 1px solid $light-gray;

  &:hover,
  &:active,
  &:focus {
    background: $gray;
    border: 1px solid $light-gray;
    cursor: hand;
    cursor: pointer;
  }

  &.btn-sm {
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
  }
}

.buttons {
  width: 100%;

  &.right {
    text-align: right;

    .btn {
      margin-left: 0.5rem;
    }
  }
}

// Remve underlines
a {
  text-decoration: none !important;

  &:focus,
  &:visited,
  &:active,
  &:hover {
    text-decoration: none !important;
  }
}

// Styling user previews
.user {
  display: flex;

  .userImg {
    width: 3rem;
    height: 3rem;
    background: $light-gray;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  p {
    flex: 1;
    margin-top: 0.75rem;
    font-weight: bold;
    color: $dark-gray;
    margin-bottom: 0rem;
  }

  .is-online {
    display: block;
    position: absolute;
    right: 1.25rem;
    margin-top: 0.75rem;
    background: rgb(66, 183, 42);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
  }

  &.user-sm {
    .userImg {
      width: 2rem;
      height: 2rem;
    }

    p {
      margin-top: 0.25rem;
    }
  }
}

.marg-top-05 {
  margin-top: 0.5rem !important;
}

.pad-bot-025 {
  padding-bottom: 0.25rem !important;
}

.userPreview {
  padding: 0.75rem 0rem;
}

.userPreview {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.chat-container {
  width: 100%;
  display: flex;
  height: calc(100vh - 56.27px);
  overflow: hidden !important;

  .chats {
    height: 100vh;
    position: relative;
    top: 0;
    width: 20rem;
    background: white;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0rem 0.1rem 0.3rem rgba(0, 0, 0, 0.05);
    overflow-y: scroll;
    overflow-x: hidden;

    .chat-preview {
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      padding: 0.75rem 1rem;
      cursor: hand;
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, 0.025);
      }

      &:focus,
      &:active {
        background: rgba(0, 0, 0, 0.05);
      }
    }
  }

  .chat {
    flex: 1;
    padding: 1rem;
  }
}

@media screen and (min-device-width: 928px) and (min-width: 928px) {
  .chat-container {
    .chat {
      padding-right: 4rem;
    }
  }
}

@media screen and (min-device-width: 1024px) and (min-width: 1024px) {
  .chat-container {
    .chat {
      padding-right: 10rem;
    }
  }
}

@media screen and (min-device-width: 1118px) and (min-width: 1118px) {
  .chat-container {
    .chat {
      padding-right: 16rem;
    }
  }
}

@media screen and (min-device-width: 1248px) and (min-width: 1248px) {
  .chat-container {
    .chat {
      padding-right: 24rem;
    }
  }
}
