// Color palette for all styles in the application
$light-snow: #f7fafc;
$snow: #f2f6f9;
$lighter-gray: #c3d1e2;
$light-gray: #a9b9cc;
$gray: #8898aa;
$dark-gray: #5f6e7f;
$pink: #ffaabe;
$dark-pink: #f7a0b5;
$blue: #0667D0;
$light-blue: #177eed;
$light-light-blue: #2c8ef9;
$dark-blue: #0554aa;
