.line-form {
  label {
    margin-bottom: 0;
    font-weight: bold;
    color: $gray;
  }

  .form-control {
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
    border-radius: 0px;
    border: 0px solid transparent;
    border-bottom: 2px solid $light-gray;

    &:hover,
    &:focus,
    &:active {
      border-bottom: 2px solid $dark-gray;
    }
  }

  textarea {
    resize: none;
  }
}

.status-form {
  .form-control {
    border: 1px solid transparent;
    transition: all 0.2s ease;
    min-height: 4rem;
    resize: none;
  }

  .buttons {
    background: $light-snow;
    padding: 0.5rem 1rem;
    border-top: 1px solid $lighter-gray;
    border-radius: 0rem 0rem 0.4rem 0.4rem;

    &.hidden {
      display: none;
    }
  }
}

.chat {
  display: flex;
  flex-direction: column;

  .messages{
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .message-form {
    text-align: right;

    .form-control {
      margin-bottom: 0.5rem;
      resize: none;
      min-height: 1.2rem;
      border: 1px solid rgba(0, 0, 0, 0.15);
    }
  }
}
