/**
 * Styling for statuses
 */
.card.status {
  padding: 0rem !important;

  .image {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 0.5rem;
  }

  .user {
    padding: 1rem 1rem 0.5rem 1rem;

    .header-text {
      padding-top: 0.1rem;
      padding-left: 0.1rem;

      .name {
        font-weight: bold;
        margin-bottom: 0rem;
        display: block;
        margin-top: 0rem;
        text-transform: capitalize;

        .fa {
          padding: 0rem 0.5rem;
        }
      }

      .timestamp {
        margin-top: 0rem;
        font-weight: normal;
        font-size: 0.8rem;
        text-align: left;
      }
    }
  }

  .text {
    padding: 0rem 1rem;
  }

  .timestamp {
    text-align: right;
    font-style: italic;
    color: $gray;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .interact {
    color: $gray;
    padding: 1rem;

    .like,
    .comment {
      display: inline-block;
      margin-right: 1rem;

      .fa {
        margin-right: 0.5rem;
        cursor: hand;
        cursor: pointer;

        &:hover {
          color: $dark-gray;
        }
      }

      .fa-heart {
        color: $pink !important;

        &:hover {
          color: $dark-pink !important;
        }
      }
    }
  }

  .comments {
    background: $light-snow;
    border-radius: 0rem 0rem 0.4rem 0.4rem !important;

    .comments-form {
      display: flex;
      padding: 0.75rem 1rem;
      border-top: 1px solid $lighter-gray;
      align-items: flex-start;

      .img {
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        margin-right: 0.5rem;
        background: $light-gray;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .form-control {
        flex: 1;
        border-radius: 0.8rem;
        border-color: $lighter-gray;
        padding: 0.25rem 0.75rem;
        resize: none;
        font-size: 0.9rem;
        transition: all 0.2s ease;
        min-height: 1.5rem;

        &:focus,
        &:active {
          border-color: $light-gray;
        }
      }

      .btn {
        font-size: 0.9rem !important;
      }
    }

    .comment {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;

      .img {
        width: 1.5rem;
        height: 1.5rem;
        background: $light-gray;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 0.5rem;
      }
    }

    &.hidden {
      display: none;
    }
  }
}
