// Styling for statuses
.status {
  .user {
    display: flex;

    .userImg {
      width: 3rem;
      height: 3rem;
      background: $light-gray;
      border-radius: 50%;
      display: inline-block;
      margin-right: 0.5rem;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    p {
      flex: 1;
      margin-top: 0.75rem;
      font-weight: bold;
      color: $dark-gray;
    }
  }

  .image {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 0.5rem;
  }

  .interact {
    color: $gray;
    padding-top: 1rem;

    .like,
    .comment {
      display: inline-block;
      margin-right: 1rem;

      .fa {
        margin-right: 0.5rem;
        cursor: hand;
        cursor: pointer;

        &:hover {
          color: $dark-gray;
        }
      }
    }
  }
}
