// Styling for statuses
.card.status {
  padding: 0rem !important;

  .image {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 0.5rem;
  }

  .user {
    padding: 1rem 1rem 0.5rem 1rem;
  }

  .text {
    padding: 0rem 1rem;
  }

  .interact {
    color: $gray;
    padding: 1rem;

    .like,
    .comment {
      display: inline-block;
      margin-right: 1rem;

      .fa {
        margin-right: 0.5rem;
        cursor: hand;
        cursor: pointer;

        &:hover {
          color: $dark-gray;
        }
      }

      .fa-heart {
        color: $pink !important;

        &:hover {
          color: $dark-pink !important;
        }
      }
    }
  }

  .comments {
    .comments-form {
      background: $light-snow;
      display: flex;
      padding: 0.5rem 1rem;
      border-top: 1px solid $lighter-gray;
      border-bottom: 1px solid $lighter-gray;
      align-items: flex-start;

      .form-control {
        flex: 1;
        border-radius: 0.8rem;
        border-color: $lighter-gray;
        padding: 0.25rem 0.75rem;
        resize: none;
        font-size: 0.9rem;
        transition: all 0.2s ease;
        min-height: 1.5rem;

        &:focus,
        &:active {
          border-color: $light-gray;
        }
      }

      .btn {
        font-size: 0.9rem !important;
      }
    }

    .comment {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
    }

    &.hidden {
      display: none;
    }
  }
}
